# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

# macOS-specific files
.DS_Store

# Hugo-specific files
.hugo_build.lock
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Temporary files
*.log
*.bak
*.tmp

# IDE-specific files (optional)
.vscode/
.idea/

# Dependency directories (uncomment if you're not using Go modules)
# /vendor/

# If you're using npm or yarn for asset management
/node_modules/
yarn-error.log

# Uncomment these if you're not using Go modules
# go.mod
# go.sum